Source: aptik-ng
Section: utils
Priority: extra
Maintainer: Tony George <tony.george.kol@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, valac, libgee-0.8-dev, libjson-glib-dev
Standards-Version: 3.9.3
Homepage: http://teejeetech.blogspot.in/
#Vcs-Git: 
#Vcs-Browser:

Package: aptik-ng
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, apt, aptitude, gdebi, apt-transport-https, pv
#Recommends:
Replaces: aptik
Description: Aptik system migration utility
 Aptik system migration utility
