app_name: Aptik
depends_debian:  libgee-0.8-2 libjson-glib-1.0-0 apt aptitude apt-transport-https dconf-cli pv xz-utils wget p7zip p7zip-full
depends_redhat:  libgee json-glib pv xz-utils wget p7zip p7zip-plugins
depends_arch:    libgee json-glib pv xz wget p7zip
depends_generic: libgee json-glib dconf-cli pv xz-utils wget p7zip p7zip-full
assume_yes: 0
exec_line: aptik
